@model IndexModel

@{
    ViewData["Title"] = "Hem";
}
<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="col-12 mt-3">
            <div class="alert alert-success">@Html.Raw(Model.Message)</div>
        </div>
    }
    <div class="col-12 mt-3">
        <h1 class="display-4">Aktuellt hos Jonas Fastigheter</h1>
        <hr />
    </div>
    <div class="col-12">
        <ul class="list-unstyled">
            @for (int i = 0; i < 3; i++)
            {
                <li class="media mb-3">
                    <img class="mr-3 img-fluid" src="~/images/placeholder_notfound.gif" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Information gällande COVID-19</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row justify-content-center text-center">
    @for (int i = 0; i < 4; i++)
    {
        <div class="col-sm-12 col-md-6 p-4">
            Placeholder
        </div>
    }
</div>
