@model List<Landlord_project.Models.ResidenceModel>
@{
    ViewData["Title"] = "Bostäder";
}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4 mb-4">Lediga hyresobjekt</h1>
        </div>
    </div>
    <div class="col-12">
        <div class="row no-gutters">
            @if (Model.Any())
            {
                @foreach (var residence in Model)
                {
                    @await Html.PartialAsync("_ResidenceThumb", residence)
                }
            }
            else
            {
                <div class="col-12">
                    <h1>Finns inga hyresobjekt tillgängliga just nu.</h1>
                </div>
            }
        </div>
    </div>
</div>