@model RentalModel
@{
    ViewData["Title"] = "Bostäder";
}
@section HeadSection{
    <link rel="stylesheet" href="~/node_modules/jquery-ui-dist/jquery-ui.css">
}
<div id="rental-list-container" class="row no-gutters">
    <div class="col-12 mt-3 mb-3">
        <h1 class="display-4 mb-4">
            Lediga Hyresobjekt
            @if (Model.Residence.Any())
            {
                <span id="rental-list-total">(@Model.NumResidences)</span>
            }
        </h1>
        <hr />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hyresledigt</li>
            </ol>
        </nav>
    </div>
    <div id="rental-list-filters" class="col-12 mb-3 p-4">
        @await Html.PartialAsync("_RentalFilters", Model)
    </div>
    <div class="col-12">
        <div id="rental-list-thumb-container" class="row no-gutters">
            @if (Model.Residence.Any())
            {
                @await Html.PartialAsync("_ResidenceThumb", Model.Residence)
            }
            else
            {
                <div class="col-12">
                    <h1>Finns inga hyresobjekt tillgängliga just nu.</h1>
                </div>
            }
        </div>
    </div>
</div>
<input asp-for="MinRent" type="hidden" />
<input asp-for="MaxRent" type="hidden" />
<input asp-for="MaxRooms" type="hidden" />

@section scripts {
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/js/Home/Rental.js"></script>
}