#rental-details-container {
    #info-box {
        label {
            font-weight: 600;
        }
    }

    #map {
        iframe {
            min-height: 350px;
            border: 20px solid #f9f9f9;
        }
    }

    .btn-rental-application {
        display: block;
        width: 100%;
        border: 1px solid #dee2e6;
        padding: 10px;
        background: none;
        -webkit-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;

        &:hover {
            transform: scale(1.15);
            background-color: #dee2e6;
            color: white;
        }
    }
}

#rental-list-container {
    label {
        font-weight: 600;
    }

    .rental-list-buttons {
        .btn-light {
            width: 100% !important;
        }
    }

    #rental-list-filters {
        background-color: #f3f3f3;

        .ui-slider-handle{
            &:hover {
                cursor:pointer;
            }
        }
        
        select {
            &:hover {
                cursor: pointer;
            }
            option {
                cursor:pointer;
            }
        }

        .sortby-control {
            background: none;
            border: 0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            display: block;
        }
    }
    /*.residence-thumb {
        opacity:0;
    }*/
}

.breadcrumb {
    background: none !important;
}
