#rental-details-container {
    #info-box {
        label {
            font-weight: 600;
        }
    }

    #map {
        iframe {
            min-height: 350px;
            border: 20px solid #f9f9f9;
        }
    }
}

#rental-list-container {
    label {
        font-weight: 600;
    }

    .rental-list-buttons {
        .btn-light {
            width: 100% !important;
        }
    }

    #rental-list-filters {
        background-color: #f3f3f3;
    }
}

.breadcrumb {
    background:none !important;
}